<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Portal</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .form-group {
            margin-bottom: 1rem;
        }
        .form-control {
            margin-bottom: 0.5rem;
        }
        .submission {
            max-width: 400px;
            margin-top: 50px;
        }

    </style>
</head>
<body>
    {% extends "base.html" %}

    {% block title %}Home{% endblock %}

    {% block content %}
        <div class="container my-5">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- Submission Portal Heading and Instructions -->
                    <div class="mb-4">
                        <h2>Submission Portal</h2>
                        <p>Please fill out the form below to submit your Pickle object.</p>
                    </div>
        
                    <!-- Description Section -->
                    <div class="mb-4">
                        <h3>Description</h3>

                        <p>Once the controller is developed, it can be saved as a pickle object.
                            An <a href="https://github.com/pr1u20/AOCS-Challenge/blob/main/example_submission.ipynb">example submission</a> can be found here. Use it as a guide to ensure your submission is formatted correctly.</p>
                    </div>


        
                    <!-- Rules Section -->
                    <div>
                        <h3>Requirements</h3>
                        <p>Failure to meet all requiremnts may cause the submission portal to raise an error.</p>
                        <ul>
                            <li>Use Python version 3.11.</li>
                            <li>Use the package versions specified <a href="https://github.com/pr1u20/AOCS-Challenge/blob/main/requirements.txt">here</a>. The pickle object needs to be loaded and tested in the web server, so failure to comply with specific versions may result in failure to load the pickle obeject. The fewer the external packages used the lower the likelihood of getting submission errors. If you require some specific version of a package like tensorflow==X, please email <a href="pr1u20@soton.ac.uk">pr1u20@soton.ac.uk</a>. We will install it within the web server.</li>
                            <!-- Add more rules as necessary -->
                        </ul>
                        <p>If you get any error or have any questions please raise an issue in <a href="https://github.com/pr1u20/AOCS-Challenge/blob/main/">github</a> or contact <a href="pr1u20@soton.ac.uk">pr1u20@soton.ac.uk</a></p>

                    </div>
                    <!-- Form for File Submission -->
                    <h3>Submit</h3>
                    <form method="post" enctype="multipart/form-data" class="mb-5">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.as_p }}
                            <small class="form-text text-muted">Upload the .pkl obejct containing your controller class.</small>
                        </div>
                        <!-- Additional form fields can be manually rendered here -->
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
            </div>
        </div>
        
    {% endblock %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
