{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Your index page specific content here -->
    <!-- Authentication and Welcome Messages -->

    <!-- Timeline for Competition -->
    <div class="container text-center">
        <div id="competition-timeline" class="my-3">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Time Left Until Competition Ends:</h4>
                <p id="time-left">Calculating...</p>
            </div>
        </div>
    </div>



    <!-- JavaScript to calculate and display the time left -->
    <script>
        function updateTimeLeft() {
            const endDate = new Date("June 25, 2024 23:59:59").getTime();
            const now = new Date().getTime();
            const timeLeft = endDate - now;

            // Calculating days, hours, minutes and seconds left
            let days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
            let hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);
            
            // Displaying the time left
            document.getElementById("time-left").innerHTML = days + "d " + hours + "h "
            + minutes + "m ";

            // When the countdown is over, display a message
            if (timeLeft < 0) {
                clearInterval(interval);
                document.getElementById("time-left").innerHTML = "The competition has ended!";
            }
        }

        // Update the countdown every 1 second
        let interval = setInterval(updateTimeLeft, 1000);
    </script>
        
    <!-- Include the leaderboard directly or via an include tag -->

    <!-- Competition Description Section -->
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <!-- Home Section -->
                <section id="home" class="mb-5">
                    <h3 class="mb-4">Home</h3>
                    <p>The ESA Academy Experiments Programme enables university teams to design, develop, and operate experiments across various gravity-related platforms and space. The latest cycle introduced new platforms, including ESA’s Space Rider and the ESA Orbital Robotics Lab, attracting high-quality proposals from across Europe.</p>
                    <div class="mb-3 d-flex justify-content-center">
                        <img src="media/ORL.png" alt="ORL" class="img-fluid" style="max-width: 50%;">
                    </div>
                    <p>Team COCO from the University of Southampton is set to test a novel Attitude and Orbit Control System (AOCS) at the ESA Orbital Robotics Lab. The challenge involves designing control algorithms for a two-dimensional microgravity analog environment, simulating conditions for spacecraft motion control. The innovative AOCS aims to optimize spacecraft design by reducing the number of required thrusters, leveraging thrust-vectoring technology.</p>
                    <div class="left mb-3">
                        <a href="https://www.esa.int/Education/ESA_Academy_Experiments_programme/Seven_new_teams_selected_for_the_ESA_Academy_Experiments_Programme" target="_blank" class="btn btn-primary">Learn more</a>
                    </div>
                </section>

                <!-- Challenge Section -->
                <section id="challenge" class="mt-5 mb-5">
                    <h3 class="mb-4">Challenge</h3>
                    <p>A digital twin of the Orbital Robotics Lab (ORL) and our platform has been made publicly available, offering teams of students a unique opportunity to compete in designing the best control algorithms. The primary goal of this competition is to navigate from the origin of the table to the position (2,2) using only <strong> one gimballing thruster </strong> while optimizing for two critical factors:</p>
                    <ul>
                        <li><strong>Least Error:</strong> Achieving the target position with minimal deviation.</li>
                        <li><strong>Lowest Fuel Consumption:</strong> Utilizing the least amount of fuel to accomplish the mission objectives.</li>
                    </ul>
                    <div class="mb-3 d-flex justify-content-center">
                        <img src="media/digital.png" alt="Digital Twin of ORL" class="img-fluid" style="max-width: 50%;">
                    </div>
                    <p>Participants will face several key challenges in their quest for precision and efficiency:</p>
                    <ul>
                        <li><strong>Gimbal Thruster Delay:</strong> A notable delay exists in moving the gimbal thrusters, requiring careful consideration in control algorithm timing.</li>
                        <li><strong>Sensor Noise:</strong> Variability and noise in sensor readings can impact accuracy and require robust filtering and data processing strategies.</li>
                        <li><strong>Table Disturbances:</strong> Unpredictable disturbances in the table environment can affect the platform's stability and trajectory.</li>
                        <li><strong>Degrees of Freedom (DoF) Control:</strong> Controlling more than one degree of freedom simultaneously poses a significant challenge – or does it? Teams are encouraged to explore innovative solutions to this problem.</li>
                    </ul>
                    <p>More details and participation instructions can be found on GitHub.</p>
                    <div class="left mb-3">
                        <a href="https://github.com/pr1u20/AOCS-Challenge" target="_blank" class="btn btn-primary">Participation Details</a>
                    </div>
                </section>

                <!-- Scoring Section -->
                <section id="scoring" class="mt-5 mb-5">
                    <h3 class="mb-4">Scoring</h3>
                    <p>The developed algorithms will be automatically tested by the web server and ranked according to our scoring criteria. </p>
                    <p>Teams must aim for the lowest score, calculated as follows:</p>
                    <p>
                    <strong>Score Calculation:</strong> 
                    <span>$$\text{Score} = 400 \times \text{Position Error} + \text{Firing Time}$$</span>
                    </p>
                    <p>
                    <strong>Position Error:</strong> 
                    <span>$$\text{Position Error} = \frac{1}{N} \sum_{i=1}^{N} \left| \text{actual_position}_i - \text{target_position}_i \right|$$</span>
                    </p>
                    <p>
                    <strong>Firing Time:</strong> 
                    <span>$$\text{Firing Time} = \left( \sum_{i=1}^{N} \text{F1}_i \right) \times \frac{1}{\text{sample_rate}}$$</span>
                    </p>
            
                    <p>The goal is to minimize this score by accurately controlling the platform's movement with minimal fuel consumption.</p>
                    <p> For simplicity, the ranking will only be based on the performance of the algorithms on <strong>ideal</strong> conditions. However, the leaderboard also shows the performance with random <strong>disturbances</strong> and <strong>noise</strong>, which more accurately represents the conditions in the ESA microgravity platform. Regardless, good performance under disturbances and noise demonstrates the robustness of the controller and there is a chance that the most robust controller is also tested in ESA. </p>
                    <div class="left mb-3">
                        <a href="https://github.com/pr1u20/AOCS-Challenge" target="_blank" class="btn btn-primary">Scoring Details</a>
                    </div>
                </section>

                <style>
                    .math-equation p {
                        font-family: "Courier New", Courier, monospace; /* Gives the math part a distinct look */
                        color: #333;
                    }
                    .bg-light {
                        background-color: #f8f9fa!important; /* Bootstrap background color */
                    }
                    .rounded {
                        border-radius: 0.25rem!important; /* Bootstrap border radius */
                    }
                </style>


                <!-- Prize Section -->
                <section id="prize" class="mt-5">
                    <h3 class="mb-4">Prize</h3>
                    <p>The prize for the winning team is the opportunity to test their winning algorithm on the Orbital Robotics Lab (ORL) table at ESA ESTEC. This test campaign, scheduled for July 2024, will provide the victorious participants with hands-on experience in one of the most advanced space simulation facilities in Europe. It's a rare chance to contribute directly to the field of space exploration and robotics, witnessing firsthand the impact of their innovation on the future of space technology.</p>
                </section>

                <!-- Recommendations Section -->
                <section id="recommendations" class="mt-5">
                    <h3 class="mb-4">Recommendations</h3>
                    <p>By nature, using one gimballing thruster makes the satellite extremely unstable. Can the satellite’s position be controlled using one gimballing thruster? Will the participants be able to stabilize the satellite? In other words, does this problem have a solution? Will the solutions be able to operate with minimal fuel consumption?</p>
                    <p>Although PID and other controllers can be applied to this problem, they might not be the best solution. The organizers recommend the use <strong>trajectory planning</strong> and <strong>Model Predictive Control (MPC)</strong>. However, note that the organizers have not tackled this problem, and the solution may not lie with these two recommendations.</p>
                    <p>Remember, the novelty and creativity of your solution may very well be the key to success in this competition. This is a challenging task, and perseverance will be crucial. Don't get discouraged if initial algorithms don’t perform as expected; continue refining and testing to achieve the best results.</p>
                </section>

                <!-- Partners Section -->
                <section id="partners" class="mt-5 mb-5">
                    <div class="container">
                        <h3 class="text-center mb-4">Our Partners</h3>
                        <div class="row text-center">
                            <!-- Each column containing a logo -->
                            <div class="col-md-6 mb-3 susf">
                                <img src="media/susf.png" alt="Partner One" class="img-fluid" style="height: 150px;">
                            </div>
                            <div class="col-md-6 mb-3">
                                <img src="media/esa.png" alt="Partner Two" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </section>

                <style>
                    #partners{
                        padding-top: 20px;
                        width: 100%;
                        background-color: white;
                        border: 1px solid black; /* add a border */
                    }
                </style>

            </div>
        </div>
    </div>

    
{% endblock %}
